<template>
    <div class="centered-container">
        <md-content class="md-elevation-1">

            <div class="title">
                <div class="md-title">RSS Reader</div>
                <div class="md-body-1">Welcome. Sign in to continue.</div>
            </div>

            <div class="form">
                <md-field>
                    <label>E-mail</label>
                    <md-input ref="email" v-model="email" autofocus></md-input>
                </md-field>

                <md-field md-has-password>
                    <label>Password</label>
                    <md-input ref="password" v-model="password" type="password"></md-input>
                </md-field>
            </div>

            <div class="actions md-layout md-alignment-center-space-between">
     

                <a href="register">
                    <md-button class="md-raised md-default">Register</md-button>
                </a>
                <md-button class="md-raised md-accent" @click="auth">Log in</md-button>
            </div>   

            <div class="loading-overlay" v-if="loading">
                <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
            </div>
            <md-snackbar v-if="error" :md-position="position" :md-duration="isInfinity ? Infinity : duration"
                :md-active.sync="showSnackbar" md-persistent>
                <span>{{ errors.email[0] }}</span>
            </md-snackbar>
        </md-content>
        <div class="background" />
    </div>
</template>
  
<script>
    export default {
        name: 'login',
        data() {
            return {
                loading: false,
                error: false,
                successful: false,
                errors: [],
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
                //snackbar//
                showSnackbar: true,
                position: 'center',
                duration: 4000,
                isInfinity: false,

            };
        },
        methods: {
            auth() {
                this.loading = true;
                axios.get('/sanctum/csrf-cookie').then(response => {
                    axios.post("/api/login", {
                            email: this.email,
                            password: this.password,


                        })
                        .then(response => {
                            this.successful = true;
                            this.error = false;
                            this.errors = [];
                            this.loading = false;
                            console.log('worked');
                            window.location.href = '/home';


                        })
                        .catch(error => {
                            if (!_.isEmpty(error.response)) {
                                if ((error.response.status = 422)) {
                                    this.errors = error.response.data.errors;
                                    this.successful = false;
                                    this.error = true;
                                    this.loading = false;
                                    return {
                                        showSnackbar: true,
                                        isInvalid: true,

                                    }
                                }
                            }
                        });
                });
            },
        },
        mounted() {
            console.log('Component mounted.')
        }
    }

</script>
