<template>
    <div class="centered-container">
        <md-content class="md-elevation-1">

            <div class="title">
                <div class="md-title">Create an account</div>

            </div>

            <div class="form">
                <md-field md-required :class="{ 'md-invalid': isInvalid }">
                    <label>First name</label>
                    <md-input id="name" ref="name" v-model="name" autofocus required></md-input>
                    <span v-if="errors.name" class="md-error">{{ errors.name[0] }}</span>
                </md-field>
                <md-field md-required :class="{ 'md-invalid': isInvalid }">
                    <label>E-mail</label>
                    <md-input ref="email" v-model="email" autofocus required></md-input>
                    <span v-if="errors.email" class="md-error">{{ errors.email[0] }}</span>
                </md-field>

                <md-field md-has-password :class="{ 'md-invalid': isInvalid }">
                    <label>Password</label>
                    <md-input ref="password" v-model="password" type="password" required></md-input>
                    <span v-if="errors.password" class="md-error">{{ errors.password[0] }}</span>
                </md-field>

                <md-field md-has-password :class="{ 'md-invalid': isInvalid }">
                    <label>Confirm Password</label>
                    <md-input ref="password_confirmation" v-model="password_confirmation" type="password" required>
                    </md-input>
                    <span v-if="errors.password_confirmation"
                        class="md-error">{{ errors.password_confirmation[0] }}</span>
                </md-field>
            </div>

            <div class="actions md-layout md-alignment-center-space-between">
                <md-button class="md-raised md-default" @click="goBack">Back</md-button>
                <md-button class="md-raised md-accent" @click="register">Register</md-button>

            </div>

            <div class="loading-overlay" v-if="loading">
                <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
            </div>

        </md-content>
        <md-snackbar v-if="error" :md-position="position" :md-duration="isInfinity ? Infinity : duration"
            :md-active.sync="showSnackbar" md-persistent>
            <span>Please fix any errors, and try again.</span>
        </md-snackbar>
        <div class="background" />
    </div>
</template>

<script>
    export default {
        name: 'register',
        data() {
            return {
                loading: false,
                error: false,
                successful: false,
                errors: [],
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
                rss_feed_url: null,
                //snackbar//
                showSnackbar: true,
                position: 'center',
                duration: 4000,
                isInfinity: false,
                //errors//
                isInvalid: true,
            };
        },

        methods: {
            goBack() {
                this.$router.go(-1)
            },
            register() {

                axios.post("/api/register", {
                        name: this.name,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                        rss_feed_url: " ",
                    })
                    .then(response => {
                        this.successful = true;
                        this.error = false;
                        this.errors = [];
                        window.location.href = '/login';
                    })
                    .catch(error => {
                        if (!_.isEmpty(error.response)) {
                            if ((error.response.status = 422)) {
                                this.errors = error.response.data.errors;
                                this.successful = false;
                                this.error = true;
                                return {
                                    showSnackbar: true,
                                    isInvalid: true,

                                }
                            }
                        }
                    });
            }

        },
        computed: {

        },

    }

</script>
