.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    .title {
      text-align: center;
      margin-bottom: 30px;
      img {
        margin-bottom: 16px;
        max-width: 80px;
      }
    }
    .actions {
      .md-button {
        margin: 0;
      }
    }  
    .form {
      margin-bottom: 60px;
    }
    .md-content {
      z-index: 1;
      padding: 40px;
      width: 100%;
      max-width: 400px;
      position: relative;
    }
    .loading-overlay {
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .md-app {
    min-height: 100vh;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .md-card {
    margin-bottom: 2rem;
  }
  html, body {
    overflow: auto !important;
  }