<template>

    <md-app>
        <md-app-toolbar class="md-accent">
            <span class="md-title">RSS Reader</span>
            <div class="md-toolbar-section-end">
                <md-menu md-align-trigger>
                    <md-button class="md-icon-button" md-menu-trigger>
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item @click="showDialog = true">Change feed</md-menu-item>
                        <a href="/logout">
                            <md-menu-item>Logout</md-menu-item>
                        </a>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-app-toolbar>
        <md-app-content :class="{ 'flex-center': isEmpty }" class="md-scrollbar">
            <md-empty-state v-if="isEmpty == true" md-rounded md-icon="access_time" md-label="You have no feeds"
                md-description="You don't have any feeds, let's add one.">
                <md-button class="md-accent md-raised" @click="showDialog = true">Create your feed</md-button>
            </md-empty-state>
            <div v-if="isEmpty == false">
                <md-card v-bind:key="item" v-for="(items, item) in xmlContent.items">
                    <md-card-header>
                        <div class="md-title">{{ items.title }}</div>
                        <div class="md-subhead">{{ items.title }}</div>
                    </md-card-header>

                    <md-card-media>
                        <img v-bind:src="items.image" alt="image">
                    </md-card-media>

                    <md-card-content>
                        {{ items.content }}
                    </md-card-content>
                    <md-card-actions>
                        <a v-bind:href="items.link">
                            <md-button>Read more</md-button>
                        </a>
                    </md-card-actions>

                </md-card>
            </div>
            <md-dialog-prompt :md-active.sync="showDialog" v-model="rss_feed_url" md-title="Add a new feed"
                md-input-placeholder="input the feed URL" md-confirm-text="Done" @md-confirm="createFeed">
            </md-dialog-prompt>
            <md-snackbar v-if="error" :md-position="position" :md-duration="isInfinity ? Infinity : duration"
                :md-active.sync="showSnackbar" md-persistent>
                <span>That didn't work, try again.</span>
            </md-snackbar>
        </md-app-content>


    </md-app>

</template>
<script>
    export default {
        name: 'Dashboard',
        props: {

        },
        data() {
            return {
                user: null,
                loading: false,
                error: false,
                successful: false,
                errors: [],
                //snackbar//
                showSnackbar: true,
                position: 'center',
                duration: 4000,
                isInfinity: false,

                isEmpty: true,
                xmlContent: null,

                xmlError: false,
                rss_feed_url: null,
                showDialog: false

            };
        },
        created() {
            this.getUser();
    
        },
        methods: {
            createFeed() {
                axios.post("/api/user", {
                        rss_feed_url: this.rss_feed_url,
                    })
                    .then(response => {
                        this.successful = true;
                        this.error = false;
                        this.errors = [];
                        this.$router.go()
                    })
                    .catch(error => {
                        if (!_.isEmpty(error.response)) {
                            if ((error.response.status = 422)) {
                                this.errors = error.response.data.errors;
                                this.successful = false;
                                this.error = true;
                                return {
                                    showSnackbar: true,
                                    isInvalid: true,

                                }
                            }
                        }
                    });
            },
            getUser() {


                axios.get("/api/userDetails", {}).then(response => {

                    this.user = response.data;

                    this.getFeed();

                    return {
                        user: this.user,

                    }

                });
            },
  
            getFeed(user) {
                
                console.log(this.user);
                this.xmlContent = null;
                this.xmlError = false;

                // const proxy = 'https://cors-anywhere.herokuapp.com/'
                const url = this.user.rss_feed_url;
                axios.get(url, {
                    header: {
                        "Access-Control-Allow-Credentials": true,
                        "Access-Control-Allow-Origin": "http://127.0.0.1:8000",
                        "Access-Control-Allow-Headers": "X-Requested-With, X-HTTP-Method-Override, Content-Type, Accept",
                        "withCredentials": false,

                    }
                }).then(response => {

                    this.xmlContent = response.data;

                    this.isEmpty = false;


                }, () => {
                    this.xmlError = true;
                    console.log('not worked');
                });
            },

        },
        watch: {
            user() {
                console.log('got user');
                console.log(this.user.rss_feed_url);
            }
        },
        computed: {

        },
        mounted() {
            console.log('Component mounted.');


        }
    }

</script>
